@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
}
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
