@font-face {
  font-family: "gfont"; /* Project id 4447350 */
  src: url('//at.alicdn.com/t/c/font_4447350_a1iglcg8an.woff2?t=1709782727230') format('woff2'),
       url('//at.alicdn.com/t/c/font_4447350_a1iglcg8an.woff?t=1709782727230') format('woff'),
       url('//at.alicdn.com/t/c/font_4447350_a1iglcg8an.ttf?t=1709782727230') format('truetype');
}

.gfont {
  font-family: "gfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e61c";
}

.icon-gantanhao-xianxingsanjiaokuang:before {
  content: "\e8ed";
}

.icon-gantanhao-xianxingsanjiaokuang-copy:before {
  content: "\e8ee";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-yonghu1:before {
  content: "\e60e";
}
